name : mri

on:
  push:
    branches: ["main"]

    jobs:
      build:
        runs-on: ubuntu-latest # sefl-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Set up Python 3.11
              uses: actions/setup-python@v2
              with:
                python-version: "3.11"
